<body>
    <h1>ACCOUNT SUMMARY</h1>
    <div>
        <label name="acchol">Account Holder Name:</label>
        <label for="acchol">{{acchol}}</label><br><br>
        <label name="accno">Account Number:</label>
        <label for="accno">{{accno}}</label><br><br>
        <label name="acctyp">Type of Account:</label>
        <label for="acctyp">Savings</label><br><br>
        <label name="accbal">Account Balance:</label>
        <label for="accbal">4250.00</label><br><br>
    </div> <br>
    <div>
        <table align="center">
            <tr>
                <th>Date</th>
                <th>Particulars</th>
                <th>Withdrawals</th>
                <th>Deposits</th>
                <th>Balance</th>
            </tr>
            <tr>
                <th>15/05/2022</th>
                <th>OPENING BALANCE</th>
                <th></th>
                <th>5000.00</th>
                <th>5000.00</th>
            </tr>
            <tr>
                <th>23/05/2022</th>
                <th>23432/Phonepe/AB-General-Stores</th>
                <th>250.00</th>
                <th></th>
                <th>4750.00</th>
            </tr>
            <tr>
                <th>26/05/2022</th>
                <th>34543/ATM/0123456/SAVEETHA UNIVERSITY</th>
                <th>500.00</th>
                <th></th>
                <th>4250.00</th>
            </tr>
        </table>
    </div>
</body>