<HTML>

<HEAD>
    <TITLE>
        HOMEPAGE
    </TITLE>
</HEAD>

<BODY>
    <div class="form-center">
    <form >
        <br>
        <button type="button" class="btn btn-outline-light" routerLink="login">Login for Internet Banking</button>
        <button type="button" class="btn btn-outline-light" routerLink="signup">Register for Internet Banking</button>
        <button type="button" class="btn btn-outline-light " routerLink="openaccount">Apply online for Account</button><br><br>
        
    </form>
</div>
</BODY>

</HTML>