<!DOCTYPE html>
<html>

<style>
    body{
    background-color: #fcf5cc;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    }
    .center {
        margin: 0;
        position: absolute;
        top: 30%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    label {
        width: 240px;
        display: inline-block;
        Text-align: left;
    }

</style>

<body bgcolor="skyblue" style="text-align: center;">
    <h1>ADD NEW BENEFICIARY</h1>
    <label for="BenNam">Beneficiary name:</label>
    <input type="text" id="BenNam" name="BenNam"><br><br>
    <label for="Baccno">Beneficiary Account Number:</label>
    <input type="Integer" id="Baccno" name="Baccno"><br><br>
    <label for="rent">Re-Enter Account Number:</label>
    <input type="text" Integer="rent" name="rent"><br><br>
    <label class="container">Save Beneficiary
        <input type="checkbox" checked=" ">
        <span class="checkmark"></span>
    </label><br>
    <label for="nickname">Nick Name:</label>
    <input type="text" id="nickname" name="Nick Name"><br><br>
    <div>
        <button>Save As Beneficiary</button>
    </div>
</body>

</html>