<body>

  <div class="container-fluid">
    <div class="row content"></div>
    <br>
    <div class="col-sm-9">
      <div style="position:fixed; left:600px; top:150px;">
        <label>Statement From </label> <input type="date" />
        <label>to </label> <input type="date" />
      </div>
      <div class="table">
        <div style="position:fixed; left: 410px; top:210px;">
          <table align="left">
            <tr>
              <th>Status</th>
              <th>Account Number</th>
              <th>Name</th>
              <th>Account Type</th>
              <th>Balance</th>
            </tr>

            <tr>
              <th>Sucess</th>
              <th>{{username}}</th>
              <th>{{name}}</th>
              <th>Savings</th>
              <th>4250</th>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>