body {
    background-color: #fcf5cc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('https://img.freepik.com/premium-vector/banking-business-banner-finance-savings-silhouette-city-background_48369-11851.jpg?w=2000');
    background-repeat: no-repeat;
    background-attachment: fixed;

    background-size: 1600px 920px;
}

div {

    border: solid;
    padding: 10px;
    border-radius: 4px;

}

h1 {
    border-style: solid;
    padding-left: 10px;
    padding-right: 10px;
}


label {

    width: 240px;
    display: inline-block;
    Text-align: left;
}