

<body>

    <h1 >ACCOUNT DETAILS</h1>
    <div>
    <label name="firstname">Name:</label>
    <label  for="firstname">{{ firstname }}</label><br><br>
    <label name="username">Account Number:</label>
    <label  for="username">{{ username }}</label><br><br>
   
     
    <label name = "mobno">Mobile Number:</label>
    <label  for="mobno">{{ mobno }}</label><br><br>
    <label name="adhaarno">Aadhaar Number:</label>
    <label  for="adhaarno">{{ adhaar }}</label><br><br>
    <label for="matinst">Date of Birth:</label>
    <label  for="mobno">{{ dob }}</label><br><br>
    <label for="rem">Residential Address:</label>
    <label  for="mobno">{{ ral1 }}</label><br><br>
	<label for="rem">Permanent Address:</label>
    <label  for="mobno">{{pal1}}</label><br><br>
	<label for="rem">Occupation:</label>
    <label  for="mobno">{{ occtyp }}</label><br><br>
    
  </div>
  
</body>
