<!DOCTYPE html>
<html>
  <style>

    .center {
      margin: 0;
      position: absolute;
      top: 30%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    label{
       width:240px;
      display: inline-block;
      Text-align:left;}
</style>
  <body style="text-align: center;">
    <h2>Forgot password?<br> </h2>
    <h3>Enter details</h3> <br>
    <form>
        <label for="ID">Enter Account No.:</label>
        <input type="Integer" id="ID" name="User ID"><br><br>
        <label for="OTP">Enter OTP:</label>
        <input type="Integer" id="ID" name="OTP"><br><br>
    </form>
    <div>
    <button class="w-10 btn btn-lg btn-primary">Proceed</button>&nbsp;&nbsp;&nbsp;<button class="w-10 btn btn-lg btn-primary" routerLink="/login">Back</button>
    </div>
  </body>
</html>